<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="AnswerIT" class="img-responsive text-center" src="modules/core/img/brand/qa.png" style="align:center" />
			</div>
		</div>
		<br>
		<div class="row" style="backgroung:#00ff00">
			<p class="lead">
				Ask Question, Get Replies....
			</p>
		</div>
		<div class="row" ng-con>
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/surveys">Let's See</a><br>
			</p>
		</div>
        <small data-ng-hide="authentication.user"><a href="/#!/signin">Sign In</a> to create and manage surveys</small>
	</div>

	<p align="center"><b>&copy;&nbsp;<a href="http://divneetsethi.github.io">Rachit Darshan Ankit Paras</a> 2015</b></p>
</section>
